<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="index.css">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>I want this video</title>
</head>

<body>
  
  <div id="title"> <h1>I want this video.</h1> </div>
	<div id="input">
    <p id="loading">Loading</p>
    <button id="retrieve" style="display: none;">Retrieve videos</button>
  </div>
  <!-- <div id="results" style="display: none;"> </div> -->
  <div id="results"> </div>
  
  <script src="client.js"></script>
</body>

</html>
