html {
	padding: 18px 25px;
	background-color: #ffffc9;
	font-family:'Courier New', Courier, monospace;
}

#title h1 {
	font-size: 40px;
	margin: 0px;
}

#input {
	margin-bottom: 10px;
}

#input #retrieve {
	/* font-family:'Courier New', Courier, monospace; */
	background-color: #a8e5ff;
	color: #7aa8bb;
	border: none;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	border-radius: 10px;
}

#input #retrieve:hover {
	background-color: #3391b9;
	color: #21607a;
	cursor: pointer;
}

.result {
	padding: 18px;
	border-style: solid;
	border-color: #a8e5ff;
	background-color: #a8e5ff;
	border-width: 5px;
	border-radius: 10px;
	color: #7aa8bb;
}

.result h2 {
	margin-top: 0px;
	margin-bottom: 15px;
}

video {
	padding: 0px;
	border-radius: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	object-fit: cover;
}

video:fullscreen {
	object-fit: contain;
}
